html,
body {
  max-height: 400px;
  width: 400px;
  margin: 0;
  overflow-x: hidden;
}

.item-enter-done-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.item-enter-done-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.item-enter-done-exit {
  opacity: 1;
}
.item-enter-done-exit-active {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 300ms, transform 300ms;
}

.active {
  color: pink;
}
